---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="kasimir">
  <h1>kasimir</h1>
  <p>
    <a href="https://github.com/redstonekasi">github</a>
    |
    <a href="https://discord.com/users/265064055490871297">discord</a>
    |
    <a href="https://twitter.com/redstonekasi">twitter</a>
    |
    <a href="mailto:kasi@hanneskann.de">email</a>
  </p>

  <p>
    Hello there, I'm Kasimir, also known as redstonekasi online.
    I like to program useless things that nobody will ever use.
  </p>
  <p>
    Most of the time I use TypeScript or JavaScript for my programs. Sometimes I
    also use Zig, I'm currently trying to learn Nim.
  </p>
</BaseLayout>
