---
import Social from "@components/Social.astro";
import Base from "@layouts/Base.astro";
---

<Base>
  <h1>kasimir</h1>
  <Social />

  <p>
    Hello there, I'm Kasimir, also known as redstonekasi online.
    I like to program useless things that nobody will ever use.
  </p>
  <p>
    Most of the time I use TypeScript or JavaScript for my programs. Sometimes I
    also use Zig, I'm currently trying to learn Nim.
  </p>
</Base>