---
import Social from "@components/Social.astro";
import Base from "@layouts/Base.astro";
---

<Base>
  <h1>kasimir</h1>
  <Social />

  <p>
    Hello there, I'm Kasimir, you might know me as redstonekasi.
  </p>
  <p>
    Most of the time I use TypeScript or JavaScript for my stuff. Though sometimes I
    also use Zig or Nim.
  </p>
</Base>
