---
import { navigation } from "src/data";
---

<nav>
  {navigation.map(({ href, title }) => (
    <a rel="prefetch" href={href}>{title}</a>
  ))}
</nav>

<style>
  nav {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: flex;
    flex-direction: row-reverse;
  }

  nav a {
    width: fit-content;
  }

  nav a:not(:last-child) {
    margin-top: .5rem;
  }

  @media (max-width: 70ch) {
    nav a:not(:last-child) {
      margin-right: .5rem;
    }
  }
</style>
