---
export interface Props {
  name: string;
  description: string;
  url?: string;
}

const { name, description, url } = Astro.props;
---

<div>
  <a class="title" href={url}>{name}</a>
  <div class="description">{description}</div>
</div>

<style>
  .title {
    font-size: 1.25rem;
  }

  .description {
    margin-top: .25rem;
  }
</style>