---
import type { MarkdownHeading } from 'astro';

type Props = {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---
<nav>
  <ul>
    {headings.map(({ depth, slug, text }) => (
      <li class={`depth-${depth}`}>
        <a href={`#${slug}`} class="toc-link" set:text={text} />
      </li>
    ))}
  </ul>
</nav>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border-inline-start: 2px solid var(--fg-deeper);
    padding-left: .5rem;
  }

  li a {
    text-decoration: none;
    color: var(--fg-deeper);
  }

  li a.current {
    color: var(--fg);
  }

  .depth-2 {
    margin-left: 1rem;
  }

  .depth-3 {
    margin-left: 2rem;
  }
</style>