:root {
  --bg: #050505;
  --fg: #fff;
  --fg-deep: #ddd;
  --fg-deeper: #bbb;
}

html {
  background-color: var(--bg);
  color: var(--fg-deeper);
  font-family: "Inter", sans-serif;
}

h1 {
  color: var(--fg);
}

h2 {
  color: var(--fg-deep);
}

h3, h4, h5, h6 {
  color: var(--fg-deeper);
}

a {
  color: var(--fg);
}

hr {
  border: solid;
  border-width: thin 0 0;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-to-top {
  to { transform: translateY(-100px); }
}

@keyframes slide-from-bottom {
  to { transform: translateY(0); }
}

::page-transition-outgoing-image(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
}

::page-transition-incoming-image(root) {
  transform: translateY(100px);
  animation: 210ms cubic-bezier(0.4, 0, 1, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}
