---
import TableOfContents from '@components/TableOfContents.svelte';
import type { MarkdownLayoutProps } from 'astro';
import BaseLayout from './BaseLayout.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
}>;

const { frontmatter, headings } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <article>
    <slot />
  </article>
  <TableOfContents slot="sidebar" headings={headings} />
</BaseLayout>